/* Style page content */
body {
  padding-top: 60px;
  padding: 5%;
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.search {
  text-align: center;
  margin: auto;
  align-items: center;
}

.create {
  text-align: center;
  margin: auto;
  align-items: center;
}

.form {
  position: relative;
}

.save-btn {
  float: right;
  margin-right: 20px;
}

.list-drop {
  float: right;
  margin-right: 10px;
}

#l_box1 {
  align-self: flex-end;
  margin: 5px;
  width: 300%;
}


