{% extends 'main/base.html' %}
{% block title %}
Home
{% endblock %}


{% block content %}
    <h3>What do you want to learn?</h3>
    <br>
    <form action = "" method = "get">
        <input id="search" type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <br>
    <div class="row">
        {% for v in videos %}
        {% cycle "<div class='row'>" "" %}
        <div class="col-sm-6">
            <div class="card border-primary mb-3">
                <div class="card-body">
                   <iframe width="600" height="400" style="border: 5px solid blue" src="{{v}}"></iframe>
                    <br>
                   <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
        {% cycle "" "</div>" %}
        {% endfor %}
{% endblock %}