{% extends 'main/base.html' %}

{% block title %}View All Lists{% endblock %}


{% block content %}
	{% if user.is_authenticated %}
		{% if message_name %}
			<div class="alert alert-dark alert-dismissible fade show" role="alert">
			<strong>List has been removed.</strong> 
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			</div>
		{% endif %}
		<form method="post", action="#">
			{% csrf_token %}
			<ul class="list-group">
				{% for l in user.todolist.all %}
					<li class="d-flex no-block card-body view-list"></i>
						<a href="/{{l.id}}" class="m-b-0 font-medium p-0 list-link" data-abc="true">{{l.name}}</a>
						<div class="ml-auto">
							<div class="tetx-right">
								<button name="delete", value={{l.id}} type="submit" class="btn btn-outline-danger">Delete</button>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</form>
	{% else %}
		<h3>Login <a href="/login">Here</a></h3>
	{% endif %}
{% endblock %}